.c1 {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

.c2{
  color: #fff;
  text-align: left;

}

.c3{
border:solid 1px black

}
.btn{
  cursor: pointer;
}

