<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-toolbar>
  <ion-title class="ion-text-center">Valendo:{{valendo}}</ion-title>
</ion-toolbar>
<ion-grid>
  <ion-row>

  <ion-col >
    <ion-button (click)="mudarpeso(1)">
1
    </ion-button>

  </ion-col>

  <ion-col >
    <ion-button (click)="mudarpeso(3)">
      3
          </ion-button>

  </ion-col>

  <ion-col >
    <ion-button (click)="mudarpeso(6)">
      6
          </ion-button>

  </ion-col>

  <ion-col >
    <ion-button (click)="mudarpeso(9)">
      9
          </ion-button>
  </ion-col>

  <ion-col >
    <ion-button (click)="mudarpeso(12)">
      12
          </ion-button>
  </ion-col>

  </ion-row>
</ion-grid>
<ion-grid>

<ion-row>

<ion-col>
  <ion-title>Time 1</ion-title>
</ion-col>

<ion-col>

<ion-title>Time 2</ion-title>

</ion-col>

</ion-row>
<br>

<ion-row>
<ion-col class="c2">

  <ion-button (click)="somarplacart1()">
    +
  </ion-button>

</ion-col>

<ion-col class="c2">

  <ion-button (click)="somarplacart2()">
    +
  </ion-button>

</ion-col>
</ion-row>


<ion-row >
  <ion-col>
    {{placart1}}
  </ion-col>
  <ion-col>
    {{placart2}}
      </ion-col>

</ion-row>
<ion-row>
  <ion-col class="c2">
    <ion-button (click)="diminuir_placart1()">
      -
    </ion-button>
  </ion-col>

  <ion-col class="c2">
    <ion-button (click)="diminuir_placart2()">
      -
    </ion-button>
  </ion-col>

</ion-row>



</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
     <ion-title>partidas</ion-title>
    </ion-col>
  </ion-row>

  <ion-row>
<ion-col class="c3">
  time 1
</ion-col>
<ion-col class="c3">
  {{totalt1}}
</ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="c3">
      time 2
    </ion-col>
    <ion-col class="c3">
      {{totalt2}}
    </ion-col>
      </ion-row>



</ion-grid>








</ion-content>
<ion-footer>
  <ion-toolbar (click)="limpar()" class="btn" color="dark">
    <ion-title class="ion-text-center">limpar</ion-title>
  </ion-toolbar>

</ion-footer>
