<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-toolbar>
  <ion-title class="ion-text-center">Valendo:</ion-title>
</ion-toolbar>
<ion-grid>
  <ion-row>

  <ion-col class="c1">
    1
  </ion-col>

  <ion-col class="c1">
    3
  </ion-col>

  <ion-col class="c1">
    6
  </ion-col>

  <ion-col class="c1">
    9
  </ion-col>

  <ion-col class="c1">
    12
  </ion-col>

  </ion-row>
</ion-grid>
<ion-grid>

<ion-row>

<ion-col>
  <ion-title>Time 1</ion-title>
</ion-col>

<ion-col>

<ion-title>Time 2</ion-title>

</ion-col>

</ion-row>
<br>

<ion-row>
<ion-col class="c2">

  <ion-button>
    +
  </ion-button>

</ion-col>

<ion-col class="c2">

  <ion-button>
    +
  </ion-button>

</ion-col>
</ion-row>


<ion-row >
  <ion-col class="c2">
0
  </ion-col>
  <ion-col class="c2">
    0
      </ion-col>

</ion-row>
<ion-row>
  <ion-col class="c2">
    <ion-button>
      -
    </ion-button>
  </ion-col>

  <ion-col class="c2">
    <ion-button>
      -
    </ion-button>
  </ion-col>

</ion-row>



</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
     <ion-title>partidas</ion-title>
    </ion-col>
  </ion-row>

  <ion-row>
<ion-col>
  time 1
</ion-col>
<ion-col>
  0
</ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      time 2
    </ion-col>
    <ion-col>
      0
    </ion-col>
      </ion-row>



</ion-grid>








</ion-content>
<ion-footer>
  <ion-title class="ion-text-center">Limpar</ion-title>
</ion-footer>
